<!-- ===== FOOTER ===== -->
<footer class="text-white p-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
				<h4 class="c-ff-zain-bold">NDK Cafe</h4>
				<div class="c-footer-list mt-1">
					<h5 class="c-ff-zain-light">Jalan Raya Ngebruk No.51, Kec. Sumberpucung, Kab. Malang</h5>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
				<h4 class="c-ff-zain-bold">Navigation</h4>
				<div class="c-footer-list mt-1">
					<a class="c-ff-zain-regular" href="">Home</a>
					<a class="c-ff-zain-regular" href="">Menu</a>
					<a class="c-ff-zain-regular" href="">About</a>
					<a class="c-ff-zain-regular" href="">Contact</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
				<h4 class="c-ff-zain-bold">Social Media</h4>
				<div class="c-footer-list mt-1">
					<a class="c-ff-zain-light" href=""><i class="fab fa-instagram"></i>@ndkcafe.id</a>
					<a class="c-ff-zain-light" href=""><i class="fab fa-tiktok"></i>@ndkcafe.id</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
				<h4 class="c-ff-zain-bold">Opening Hours</h4>
				<div class="c-footer-list mt-1">
					<div class="c-footer-list mt-1">
						<h5 class="c-ff-zain-light">Senin - Minggu: 09:00 - 23:00</h5>
					</div>
				</div>
				<h4 class="c-ff-zain-bold">Contact</h4>
				<div class="c-footer-list mt-1">
					<a class="c-ff-zain-extrabold c-text-primary" style="font-size: 1.1rem !important" href=""><i class="fab fa-whatsapp"></i>+62 851 1234 1234</a>
					<a class="c-ff-zain-extrabold c-text-primary" style="font-size: 1.1rem !important" href=""><i class="fa fa-envelope-open"></i>info@example.com</a>
				</div>
			</div>
		</div>
		<div class="row c-copyright mt-5 text-center">
			<h5 class="mt-5">&copy; <a style="color: #bfbfbf" href="#">NDK Cafe</a>, All Right Reserved. </h5>
		</div>
	</div>
</footer>